<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101402669" />
    <item key="AppKey" value="dfc35032bd2168766da2dd5a3c5488f0" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="1749773" />
    <item key="AppKey" value="3d6d9c13082140cbf4efc73edd5945a0" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wx7a73330c67d36b3f" />
    <item key="AppKey" value="02516b69721d48065e77e1b24ab964df" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>