<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="1488269001539423" />
    <item key="AppKey" value="E7BgvCuh59aKly1gOQKbnw9xqqkfg7aJ" />
    <item key="WeChatAppId" value="1490253580041932" />
    <item key="WeChatAppKey" value="tofrZWxhxIlyYLqAiCrIIkllfulNTZfb" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wx7a73330c67d36b3f" />
    <item key="MchId" value="1473810502" />
    <item key="AppKey" value="tyuwhnnmgghgiwoo692383791rtmtoqv" />
    <item key="AppSecret" value="02516b69721d48065e77e1b24ab964df" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wx344f3ef02b7c4a55" />
    <item key="MchId" value="1285374401" />
    <item key="AppKey" value="rui5ofh6890fdiowfc84502tis580fpd" />
    <item key="AppSecret" value="02516b69721d48065e77e1b24ab964df" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="fenxiangshuyuan@126.com" />
    <item key="Partner" value="2088721233819860" />
    <item key="Key" value="weq2f23hr3vmxgjamphxtj3j681tsqpm" />
    <item key="PrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALhqP+QF7xBLmB8+cBetzdQMHOlKWFEQlHwhBc3Osbx79DwdxzX0g9dHGu1MePDQdLFRZddh3KDIAbnsLgEBujBRikXPrQKrlOdIWaiePRpcWpH7FJTmMUCnekIn25s0E7thSkYcY1NuyzFYx3hvJhYdW5M7VDa66DifML/e9YL3AgMBAAECgYBow7t+H7zbJgbKoR7u5McMksEN6zVXADNKfTwd2jFwoX5zdHtKdJk9gGCUtJ/0NohEf7h6blb3ZAhPBhRwb/nEKHat+4lmT8UFy0E+0QV4znmvZE5n38VMnrgBI3EAR57mrKegi4PeGDQB8AQZe4zznSwIlsvU0l7LLw9YYvx9KQJBANzcX2thWyge19UbnA6UvvrO2xcD0NFygA7B8+DpRCMcOp4xQH5gC/ITZVAWsc67cSHAHtfZcFfEUyrl2RS6F80CQQDVwXIB3POyxcbWefWGVrSsSpC46cVdmhf/RWNpLmWckZzOMYpUao8uwdzMJa2UbcIWiv0Afy9h22fizMPppHnTAkAK1MvhKj8cMpcHHnmCxYywJCDeehNtkh3xm1VofEgZKLM/Os8c43zyfD0Ftnc12j9sFk3s6/70bu5dNjR1LcMpAkBPTk05Kbv02PITwv34EJVJ0wRsxrbmKnS6zgi7Dm6+rzupOLIk7cAfzedYiqYjCrHW4UxK8eUnflrFx8jsF4znAkEA1V3t64MGOUVyASIJXT8fA5gk5RUBNwu3xwAP927aJwceS4fJwkzaJjjPwgEjurXOU0KDP311YqDFjlQqqK48og==" />
    <item key="PublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCb/ivYacDe95tyrVH8TSDXTGf3yz3g1+2ZX9efSLN2NFgnajxpyW0OsFUrH/lKOojA5Y/5D/YFR4tTE1W15AyTQdZ/TyuIETfIPTHoivV9rCn/4G9ZicUBLtDoZmorn0Ne5f8rrzZ/Fnq6pc8hjSf8HWeRU8GFEHk7R3LiEaBSLwIDAQAB" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>