<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="1450247913384855" />
    <item key="AppKey" value="d1WQrZUTIoTPocUKHsWOpPpf0PdVn4Ew" />
    <item key="WeChatAppId" value="" />
    <item key="WeChatAppKey" value="" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wx3a31fe585b20c9a1" />
    <item key="MchId" value="1313144201" />
    <item key="AppKey" value="7gftecd4gty75wqwxfhp905gnfdrrttr" />
    <item key="AppSecret" value="076ae367d93a48ca576f8fc7e91627b4" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wx3a31fe585b20c9a1" />
    <item key="MchId" value="1313144201" />
    <item key="AppKey" value="7gftecd4gty75wqwxfhp905gnfdrrttr" />
    <item key="AppSecret" value="076ae367d93a48ca576f8fc7e91627b4" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="" />
    <item key="Partner" value="" />
    <item key="Key" value="" />
    <item key="PrivateKey" value="" />
    <item key="PublicKey" value="" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>