<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="150052444730088" />
    <item key="AppKey" value="cuE5RGeQnobpBG1dGbgvCM0rl5k9wrYK" />
    <item key="WeChatAppId" value="150052464936815" />
    <item key="WeChatAppKey" value="KS3eMD5ZN5Ku6TDTAI01MBtKhalOPfP0" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="https://pay.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wx6cacb811433fdb01" />
    <item key="MchId" value="1485730492" />
    <item key="AppKey" value="haitangdushuwangXhangzhoupingzhi" />
    <item key="AppSecret" value="ff83582e457455f6960808bf2745e197" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wx6cacb811433fdb01" />
    <item key="MchId" value="1485730492" />
    <item key="AppKey" value="haitangdushuwangXhangzhoupingzhi" />
    <item key="AppSecret" value="ff83582e457455f6960808bf2745e197" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="" />
    <item key="Partner" value="" />
    <item key="Key" value="" />
    <item key="PrivateKey" value="" />
    <item key="PublicKey" value="" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>