<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101262626" />
    <item key="AppKey" value="8ecc4b451f228973f488784387319208" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="823567323" />
    <item key="AppKey" value="7fe605d64c5b5ccc6ea0b5066f9885d4" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="wx4f0cad8cd8ca191c" />
    <item key="QrCodeAppKey" value="d4624c36b6795d1d99dcf0547af5443d" />
    <item key="AppId" value="wx97830d9921df918c" />
    <item key="AppKey" value="eb9ba83c21f9c229c24dd17a80844c7b" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>