<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101419961" />
    <item key="AppKey" value="77328c37dbe4498a755804432ef025b9" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="767873712" />
    <item key="AppKey" value="1736fad63a983244a1d6fc1875d68b3f" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wx398bcd7d7213a181" />
    <item key="AppKey" value="cf38a68f4073dc4c356ec4f79fa9bff4" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>