<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101340506" />
    <item key="AppKey" value="755920883bfb4a4750a9f24d9ab6bfcf" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="3549805472" />
    <item key="AppKey" value="4d65742c862e7e7a02692b41b33123c7" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wx9fe9ce5b6b82df6c" />
    <item key="AppKey" value="d55f24ce203bc57230e60a55bca6d142" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>