<?xml version="1.0" encoding="utf-8"?>
<RecSection>
  <book name="小说">
    <index name="首页">
      <male name="男频">
        <rec>
          <item title="重磅推荐" key="hot" value="69" />
          <item title="新书抢鲜" key="new" value="70" />
          <item title="主编推荐" key="editor" value="71" />
          <item title="畅销精品" key="sale" value="72" />
        </rec>
        <ad>
          <item title="顶部广告" key="top" value="8" />
          <item title="中间广告" key="middle" value="9" />
        </ad>
      </male>
      <female name="女频">
        <rec>
          <item title="热门推荐" key="hot" value="" />
          <item title="潜力新作" key="new" value="" />
          <item title="主编力推" key="editor" value="" />
          <item title="热销专区" key="sale" value="" />
        </rec>
        <ad>
          <item title="顶部广告" key="top" value="" />
          <item title="中间广告" key="middle" value="" />
        </ad>
      </female>
      <rec type="listen" name="听书专区">
        <item title="听书列表" key="rec" value="98" />
      </rec>
    </index>
    <detail name="小说详情">
      <rec>
        <item title="猜你喜欢" key="guess" value="99" />
      </rec>
    </detail>
    <chapterlist name="章节目录">
      <rec>
        <item title="精品推荐" key="guess" value="100" />
      </rec>
    </chapterlist>
    <chapter name="阅读正文">
      <rec>
        <item title="同类小说推荐" key="rec" value="65" />
      </rec>
      <ad>
        <item title="热门推荐" key="ad" value="12" />
      </ad>
    </chapter>
    <limitfree name="限时免费">
      <male name="男频">
        <rec>
          <item title="免费新书" key="new" value="87" />
          <item title="热门免费" key="hot" value="88" />
        </rec>
      </male>
      <female name="女频">
        <rec>
          <item title="免费新书" key="new" value="" />
          <item title="热门免费" key="hot" value="" />
        </rec>
      </female>
    </limitfree>
    <rank name="排行">
      <rec>
        <item title="男生榜" key="male" value="" />
        <item title="女生榜" key="female" value="" />
      </rec>
    </rank>
  </book>
  <cartoon name="漫画">
    <index name="漫画专区">
      <rec>
        <item title="新作速递" key="fav" value="93" />
        <item title="人气推荐" key="pop" value="94" />
        <item title="三次元漫画" key="three" value="95" />
      </rec>
      <ad>
        <item title="顶部广告" key="top" value="20" />
        <item title="中间广告" key="middle" value="23" />
      </ad>
    </index>
    <detail name="漫画详情">
      <rec>
        <item title="猜你喜欢" key="guess" value="96" />
      </rec>
    </detail>
    <chapterlist name="漫画目录">
      <rec>
        <item title="精品推荐" key="guess" value="101" />
      </rec>
    </chapterlist>
  </cartoon>
</RecSection>