<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="1453857017024809" />
    <item key="AppKey" value="Lsz3obQ88KVIN4G8q9AZileH5emLU3M5" />
    <item key="WeChatAppId" value="" />
    <item key="WeChatAppKey" value="" />
    <item key="WeChatQrCodeAppId" value="1477461428874554" />
    <item key="WeChatQrCodeAppKey" value="IBNdchGToGY3aW3G4BQWGQ31QBbF4RUM" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wxd8a6ee57e50ebeb8" />
    <item key="MchId" value="1358128902" />
    <item key="AppKey" value="e49rtjhsk80ejmvj5hs92klsamemmitm" />
    <item key="AppSecret" value="3a06cd13375fae896b82a658262446c9" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wxd8a6ee57e50ebeb8" />
    <item key="MchId" value="1358128902" />
    <item key="AppKey" value="e49rtjhsk80ejmvj5hs92klsamemmitm" />
    <item key="AppSecret" value="3a06cd13375fae896b82a658262446c9" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="" />
    <item key="Partner" value="" />
    <item key="Key" value="" />
    <item key="PrivateKey" value="" />
    <item key="PublicKey" value="" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>