<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101413321" />
    <item key="AppKey" value="2e61b737a954a433dba1cd1b82739953" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="2534428637" />
    <item key="AppKey" value="35dcd825170f2d19c2a3c086bd1e7df8" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wx1791838399dd1721" />
    <item key="AppKey" value="3bc86aedb325e44fb3253b3e4fc43277" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>