<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="" />
    <item key="AppKey" value="" />
    <item key="WeChatAppId" value="" />
    <item key="WeChatAppKey" value="" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wx2023cf6add3699c0" />
    <item key="MchId" value="1487344322" />
    <item key="AppKey" value="20177fuzhouwangxiangxiaoshuowang" />
    <item key="AppSecret" value="cc0444d37ddf41c96fbe20e6cdfd54ec" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wx2023cf6add3699c0" />
    <item key="MchId" value="1487344322" />
    <item key="AppKey" value="20177fuzhouwangxiangxiaoshuowang" />
    <item key="AppSecret" value="cc0444d37ddf41c96fbe20e6cdfd54ec" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="fzwanxiang01@163.com" />
    <item key="Partner" value="2088721700343894" />
    <item key="Key" value="7x4j1aewq21b1n9rshkgqi5xj0kfr2ai" />
    <item key="PrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAL5lIYScokM2hJ0018vi7ztNEfOHrbMnGKGjQr6TFysq3MRkDlYpbL/vrMtaD0UT+/zUnMgkZkBLXrAPCHEGKohbRaVljkpLOHAFNzsMcwgYkaEi6f9v75+FKjFVgaA4jRBv/L76rlArqMXOUqw41TjORZzHQ6AYE8+EHq1AINqtAgMBAAECgYEAlXqWpyPGbRiXY0lCh0tC4X7vsg/6uqXeO8EOvMqErRp4uyOG8fSR8dr9AaZSSLyY4PYXpTaWpLHHxFf5G6topczA28U0uiWFRsW+MVtAdlgXyRmtZhIh7UOhFVfC/qzmRpBE1i5HGiwTzXQgOwha8v7byOR1QmaA+/XIcu9oGk0CQQDc3N36zVr/kfsrKYexeul58T0kYkwX3DvLE2fs7cLoMgxghGD0JqxInphJG/45a3Jlevm0xezRS1qn/w68KA37AkEA3K9lu//r9zmsKxferxv+jihCHUaRlAeNEyb0/SqqygExQR9xxv9TlnffhCP2HQlxvRsj9EO+De6ZxguqCg8hdwJARu3roBsJKWCBcEgjGt1lU9MklqW22EbTMRGnY5Cr8pP4I5r/5AjzdVLxhzElQN1/3JVU0jhqKIDxuVgRLF4UtwJAaJKYo6hW2VSz18u80r9yNUywX40ECOA3Il8wchLY0VYVT+WllYWBx2hQOx6LTiEei1ykAehj09g/d9ApKBEZawJAcTwbKH1n2i5C43t6ELJQhDp1VWyjTvwBIPtn+Op9BTOfIcHdBO7qFuK679r3Bxtn6s2KicvIMVWT9KWkx43bKQ==" />
    <item key="PublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCppApBFptG+NhZT0QUGPj2aczwvXIFOe+OiZMfKnYAmQt75p3Wijd4HMUA1zRtrzV5/fVAITsjGvaoGRIz8dM+w4by61hgcpWgit+xCOj/WtEAiHAJ8S4GcxUGDDYcJAPONUyx5KlzBLTPy0oR5X7+S2EAcGydzrmbFm8hv/bf+wIDAQAB" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>