<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101419692" />
    <item key="AppKey" value="3d05f45bb63a022c3660b6571de17f8d" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="2605251487" />
    <item key="AppKey" value="c7866772b6ce95f1f9421382d3766ef7" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wxf2426006c5dab618" />
    <item key="AppKey" value="e5e469fc87a596162fd43faac07d9023" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>