<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="150225098110414" />
    <item key="AppKey" value="7yumq9InkGJPFKllvRTRuUPnoLPZ3MF2" />
    <item key="WeChatAppId" value="150225087202340" />
    <item key="WeChatAppKey" value="LUDxs1aBiHTL0ZxO76aVUifjMZs8vTaY" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="https://pay.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wxf2426006c5dab618" />
    <item key="MchId" value="1485651002" />
    <item key="AppKey" value="Blueseaheart2008panmeifei9905130" />
    <item key="AppSecret" value="e5e469fc87a596162fd43faac07d9023" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wxf2426006c5dab618" />
    <item key="MchId" value="1485651002" />
    <item key="AppKey" value="Blueseaheart2008panmeifei9905130" />
    <item key="AppSecret" value="e5e469fc87a596162fd43faac07d9023" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="" />
    <item key="Partner" value="" />
    <item key="Key" value="" />
    <item key="PrivateKey" value="" />
    <item key="PublicKey" value="" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>