<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="" />
    <item key="AppKey" value="" />
    <item key="WeChatAppId" value="" />
    <item key="WeChatAppKey" value="" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wxc95957d311c9c4c2" />
    <item key="MchId" value="1488374612" />
    <item key="AppKey" value="B5gQWI4dHLqa62LM2qsK880NRMPmaC6s" />
    <item key="AppSecret" value="a86453c142b447742f32170332f868b8" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wxc95957d311c9c4c2" />
    <item key="MchId" value="1488374612" />
    <item key="AppKey" value="B5gQWI4dHLqa62LM2qsK880NRMPmaC6s" />
    <item key="AppSecret" value="a86453c142b447742f32170332f868b8" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="qsread@163.com" />
    <item key="Partner" value="2088721901480561" />
    <item key="Key" value="fyqxyzwbj0mrv8r3444hdf4w32w7ed0z" />
    <item key="PrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAOW4KbSRe/gAbpH67tTJ9XOhqQogknZ334uB7DBeCOfzzoHNwOB3j9A5Zr/OkV3CxOBtIPaJPimHcqxAnAncNYwTLMrUES2HnqsyLTJMVrX+RY9oa0oWcwVR8dmprqVM/oyZhDgoyA1CIf/zYaFd4PLO8G8Xmm4+Cq/DWLfeqLeZAgMBAAECgYBJpNqp6qIFhY3s+rcqPHyVz1OzzXFmzVM7FDG158+PHNgtQNr+mxXduSk5gG2V02TuVc3le2YURjn7AtODTbdUTyNXsY4ReZKPSPgwb9bnXgUof2x65OK4ZSmrLQSYmziaaQNdqsbrymqQuYZYxJkYJ/fy/Tw82sw2uvZ6yPVbAQJBAPfNOC0EHL7FwFz1n7LA+p+68lprybpX0YGVyol3167nzDwtULCBJWm3LXjJmgq4021emqNCZ0PF82/9mB8NoqkCQQDtUctGphevennDzKWuSFH16t25TXq8+qdZtFhY7KCiSj+TyIe4jl/AKlnybeP0EbfMZ1FuMBW1XQNli4yKQnNxAkEAqhTLN+qYqEAm1icoo5Jc8wFnkrRk02evPthHGa+N9FjZD3yy41LhEPxPU5ZcCnvtciX60Y+kPRpDClzu6nF7cQJAFt0sgm/6FDPui0iqJbJeAx1Po0ytqItVmDTh1h9mEnyox2ooeUVuQCtUYyDnN1qFpLHHjKAhV0nQy/W34pIoYQJAJXTe6Bg7HWRxMRyPwtGdHsoyG6i3v99juGLHLPkeJOAohROJm+rxWkaiDo2pfV2ZUJeC39S4IB8GDZ+Cy7n/eA==" />
    <item key="PublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCmsrMHwGwJCL2XbnnRvRrNHjdtpQnbuE8wpgVEGpX3NyuD8D/Wm3xtS3I5vKfOSQ/8q5+maHnG+WFCF1NmmXW6K32R578Lspb3f68OT/kkMm+qo/yg7SW3dBucbNbTqmUp4913f0BRyOTmGRvqhOdyZv0kZVNw/re/VcwPB3HivQIDAQAB" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>