<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="" />
    <item key="AppKey" value="" />
    <item key="WeChatAppId" value="" />
    <item key="WeChatAppKey" value="" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="" />
    <item key="MchId" value="" />
    <item key="AppKey" value="" />
    <item key="AppSecret" value="" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="" />
    <item key="MchId" value="" />
    <item key="AppKey" value="" />
    <item key="AppSecret" value="" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="" />
    <item key="Partner" value="" />
    <item key="Key" value="" />
    <item key="PrivateKey" value="" />
    <item key="PublicKey" value="" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>