<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--Log4Net配置-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="SiteSection" type="Component.Config.SiteSectionHandler,Component" restartOnExternalChanges="false" />
    <section name="RecSection" type="Component.Config.RecSectionHandler,Component" restartOnExternalChanges="false" />
    <section name="AuthSection" type="Component.Config.AuthSectionHandler,Component" restartOnExternalChanges="false" />
    <section name="PaySection" type="Component.Config.PaySectionHandler,Component" restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name="ReadConnString" connectionString="Data Source=221.12.19.155; Initial Catalog=Yuedu_v2_tst; User ID=wjc; Password=wjc; Pooling=true" providerName="System.Data.SqlClient" />
    <add name="WriteConnString" connectionString="Data Source=221.12.19.155; Initial Catalog=Yuedu_v2_tst; User ID=wjc; Password=wjc; Pooling=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--Log4Net配置开始-->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline%newline" />
        <param name="Header" value="&#xA;----------------------header--------------------------&#xA;" />
        <param name="Footer" value="&#xA;----------------------footer--------------------------&#xA;" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <!--Log4Net配置结束-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PrefixUrl" value="http://m.qiwenqishi.cn/" />
    <add key="AudioPrefixUrl" value="http://file.huaxiazi.com/" />
    <add key="CartoonPrefixUrl" value="http://m.qiwenqishi.cn/" />
    <add key="CacheEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/error/index">
      <error redirect="~/error/notfound" statusCode="404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="ResponseFilter" type="Component.Handler.FilterModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <SiteSection configSource="Config\Site.config" />
  <RecSection configSource="Config\Rec.config" />
  <AuthSection configSource="Config\Auth.config" />
  <PaySection configSource="Config\Pay.config" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>