
/*主页  书籍性情页 蒙版提示信息*/
.message-tip{
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	display: none;
}
.tip-circle{
	width: 100%;
	height:100%;
	background:black;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	/*padding-right:0.1875rem;*/
	padding-top: 0.35rem;
	z-index: 999999;
}
.tip-circle span{
	display: inline-block;
	width:0.78125rem;
	height:0.78125rem;
	border-radius: 50%;
	background-color: #fff;
}
.tip-circle span:nth-child(1){
	margin-right:0.125rem
}
.tip-circle span:nth-child(2){
	margin-right:0.078125rem;
}

.tip-personal{
	width:4.6875rem;
	height:3.28125rem;
	position: absolute;
	top:1.25rem;
	right:0.3125rem;
	z-index: 999999;
}

.tip-know{
	position: absolute;
	width: 3.8375rem;
	height: 2.075rem;
	top:50%;
	left: 50%;
	margin-top: -1.0375rem;
	margin-left: -1.91875rem;
	z-index:999999;
	background: url(../img/bg2.png) no-repeat;
	background-size: 100%;
}

/*read-detail页高度设置*/
.message-tip .tip-circle-detail{
	padding-top:0.25rem;
}





























