<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101295845" />
    <item key="AppKey" value="c9259f826d9585a1b7d6226c3f351e74" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="3774761030" />
    <item key="AppKey" value="f581450b760336f4fc8c8fdc0db25ae8" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wx81aad3211cc3b163" />
    <item key="AppKey" value="b3a061549005eecc588a796548396ed1" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>