<?xml version="1.0" encoding="utf-8"?>
<AuthSection>
  <QQ>
    <item key="AppId" value="101417647" />
    <item key="AppKey" value="2612fd1961af91d1491ce0db4298c08e" />
    <item key="CallbackUrl" value="/user/auth/qq/notify.aspx" />
  </QQ>
  <Weibo>
    <item key="AppId" value="2598926661" />
    <item key="AppKey" value="2d6feeb7c4acea8a37f40d10caab5175" />
    <item key="CallbackUrl" value="/user/auth/weibo/notify.aspx" />
  </Weibo>
  <WeChat>
    <item key="QrCodeAppId" value="" />
    <item key="QrCodeAppKey" value="" />
    <item key="AppId" value="wx053ec9aa9c230a18" />
    <item key="AppKey" value="f99669b4eb6f19117460ffa0fc653765" />
    <item key="CallbackUrl" value="/user/auth/wechat/notify.aspx" />
  </WeChat>
</AuthSection>