<?xml version="1.0" encoding="utf-8"?>
<RecSection>
  <book name="小说">
    <index name="首页">
      <male name="男生">
        <rec>
          <item title="重磅来袭" key="hot" value="58" />
          <item title="潜力新书" key="new" value="55" />
          <item title="主编强推" key="editor" value="52" />
          <item title="畅销精品" key="sale" value="53" />
        </rec>
        <ad>
          <item title="顶部广告" key="top" value="13" />
          <item title="中间广告" key="middle" value="15" />
        </ad>
      </male>
      <female name="女生">
        <rec>
          <item title="精品强推" key="hot" value="63" />
          <item title="火热连载" key="new" value="65" />
          <item title="短篇风云" key="editor" value="64" />
          <item title="完本经典" key="sale" value="66" />
        </rec>
        <ad>
          <item title="顶部广告" key="top" value="14" />
          <item title="中间广告" key="middle" value="16" />
        </ad>
      </female>
      <rec type="listen" name="听书专区">
        <item title="听书列表" key="rec" value="" />
      </rec>
    </index>
    <detail name="小说详情">
      <rec>
        <item title="猜你喜欢" key="guess" value="4" />
      </rec>
    </detail>
    <chapterlist name="章节目录">
      <rec>
        <item title="精品推荐" key="guess" value="18" />
      </rec>
    </chapterlist>
    <chapter name="阅读正文">
      <rec>
        <item title="同类小说推荐" key="rec" value="70" />
      </rec>
      <ad>
        <item title="章节详情推荐管理" key="ad" value="12" />
      </ad>
    </chapter>
    <limitfree name="限时免费">
      <male name="男生">
        <rec>
          <item title="免费新书" key="new" value="" />
          <item title="热门免费" key="hot" value="" />
        </rec>
      </male>
      <female name="女频">
        <rec>
          <item title="免费新书" key="new" value="" />
          <item title="热门免费" key="hot" value="" />
        </rec>
      </female>
    </limitfree>
    <rank name="排行">
      <rec>
        <item title="男生榜" key="male" value="67" />
        <item title="女生榜" key="female" value="68" />
      </rec>
    </rank>
  </book>
  <cartoon name="漫画">
    <index name="漫画专区">
      <rec>
        <item title="新作速递" key="fav" value="" />
        <item title="人气推荐" key="pop" value="" />
        <item title="三次元漫画" key="three" value="" />
      </rec>
      <ad>
        <item title="顶部广告" key="top" value="" />
        <item title="中间广告" key="middle" value="" />
      </ad>
    </index>
    <detail name="漫画详情">
      <rec>
        <item title="猜你喜欢" key="guess" value="" />
      </rec>
    </detail>
    <chapterlist name="漫画目录">
      <rec>
        <item title="精品推荐" key="guess" value="" />
      </rec>
    </chapterlist>
  </cartoon>
</RecSection>