<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="1469675686524312" />
    <item key="AppKey" value="tSQnL6xsdVdWN4WGmQ7aSmUyacb2OFKP" />
    <item key="WeChatAppId" value="149075620891724" />
    <item key="WeChatAppKey" value="TwU33ePHFfCaqwe4MvAUk1opH7MoOqi5" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="https://pay.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wx00a17eeff2bdbaf8" />
    <item key="MchId" value="1370587202" />
    <item key="AppKey" value="dayu1234567890123456789012345678" />
    <item key="AppSecret" value="ac808dc631d38c40241cac34c1a02b85" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wx00a17eeff2bdbaf8" />
    <item key="MchId" value="1370587202" />
    <item key="AppKey" value="dayu1234567890123456789012345678" />
    <item key="AppSecret" value="ac808dc631d38c40241cac34c1a02b85" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="" />
    <item key="Partner" value="" />
    <item key="Key" value="" />
    <item key="PrivateKey" value="" />
    <item key="PublicKey" value="" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>