<!-- 下载 -->
<div class="Download_now clear box" style="display:none;">
    <div class="Download_now_left fl clear box">
        <img class="fl close" src="~/Content/img/close.png" alt="">
        <img class="fl" src="~/Content/img/logo.png" alt="">
        <p class="fl">
            <span>下载365好书客户端</span><br>
            <span style="font-size:18px;">充值更优惠！</span>
        </p>
    </div>
    <a class="Download_now_right fr" target="_blank" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.hzpz.goodbookreader">立即下载</a>
</div>
