<?xml version="1.0" encoding="utf-8"?>
<PaySection>
  <NowPay>
    <item key="AppId" value="" />
    <item key="AppKey" value="" />
    <item key="WeChatAppId" value="" />
    <item key="WeChatAppKey" value="" />
    <item key="WeChatQrCodeAppId" value="" />
    <item key="WeChatQrCodeAppKey" value="" />
    <item key="CallbackUrl" value="http://api.ipaynow.cn" />
    <item key="NewCallbackUrl" value="https://pay.ipaynow.cn" />
  </NowPay>
  <WxPay>
    <item key="AppId" value="wxf2970140d8e01d5b" />
    <item key="MchId" value="1488906602" />
    <item key="AppKey" value="Pandadushu542131454213145421314p" />
    <item key="AppSecret" value="7ffb1f412b2758c178adde09ad352a19" />
    <item key="CallbackUrl" value="/user/order/wechat/notify.aspx" />
    <item key="LogLevel" value="0" />
  </WxPay>
  <WxPay2>
    <item key="AppId" value="wxf2970140d8e01d5b" />
    <item key="MchId" value="1488906602" />
    <item key="AppKey" value="Pandadushu542131454213145421314p" />
    <item key="AppSecret" value="7ffb1f412b2758c178adde09ad352a19" />
    <item key="CallbackUrl" value="/user/order/wechat/notify1" />
    <item key="LogLevel" value="0" />
  </WxPay2>
  <Alipay>
    <item key="SellerEmail" value="3179190380@qq.com" />
    <item key="Partner" value="2088721954859965" />
    <item key="Key" value="a14lfxaq73oskb6puyaq1c6mse0lkjga" />
    <item key="PrivateKey" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAMA/vrxwlpZ6JDmv05xJ5PJerxS5MHpNjOyAImQCE9gvOlbA5zmBGQEeRI6mGaXqrducZZe8ra6Zq/5JMK2P3cKLbUg0nRdo0+3h1GJbP68+Mu4KQlDQxombdsAb0NZAZFbM+Rm+NsB3icgGKb8hFrCO83F7Ydi7+CfZ9SsWMAubAgMBAAECgYEAjm7r9psHxqbprd+pzRImULd7ycPGueY48YOhdyze3P1ooJu89CrEhsKREorXV8i+VIXT8w60Mzbhab16Fi0Po2hkqOcSk7ZuqysYNFFV8sSPZ0+6NqeiyFDoK0bvKBn+cfcwl1U7NiRkB/HjBpmDodIUFqIB2w96hznHHweJ2AkCQQDw/gXg2Bml82F4BfSqAnx5FHK07Y+Glg/TrSTXblTrXuN+/0xoWG8UiudU4TEJICturJyIjKAJtstIxYUx5bzVAkEAzDikGtHw+yBFwRVO3gFfRtQ8pj+ohAZkUtFBeQr+g2OP/PvkeLXt+RP52PE99LtUozogfvGPY13zL8b4q3cerwJAKLqFu85J52YOnv5Cr0jkSIJQMIvFqfVKj3e/tjkLWQwcXqY+/5OSkmI3Xn0AkI5DSN0bR2ic04d1K8NWE2zEUQJAIFhoRYcy79NwuOAzGZ6GBKXg5UP34NFSWnuiLxW6sfy29Y6/5Q6LnoO3ctDiyzxQb3npY7HG0Co1NkABasb3KQJAa/zxusSUzpsw27y38t3VKQBt+R7KlCKcIXJ0E+5KvWfA9D656zBtMkHI//VPjDMpLtxfZWwNeUpsWVtsRlAFPw==" />
    <item key="PublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCKikmNhNo0iGOWjhyX8HLzzuimegeyiYiH+VB/K05BVgdwHoLUFW4lBN3YfJvxIWfextvAKVIxVXFnXvPm1URJj/wwh8kR3WTryB5msSO1w5tx+3S1W4MAfEnjGmuQgwb3dC6YHJEJOxlKkNFm7OTslb9av2tTeHqo5XelDGv/PwIDAQAB" />
    <item key="InputCharset" value="utf-8" />
    <item key="SignType" value="0001" />
  </Alipay>
</PaySection>